* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* Add font stack */
}
html {
  font-size: 20px;
}
body {
  min-height: 100vh;
}
header {
  background-color: #222;
  color: #eee;
  padding: 1rem 2rem;
}
h1,
h2 {
  /* Add font stack */
  font-size: 3rem;
  color: #fff;
  background-color: #333;
}
main {
  padding: 1rem 2rem;
}
/* Add other CSS to customize the interface and make it your own */

form p {
  padding-block: 0.5rem;
}
input {
  /* Add font stack */
  padding: 0.25rem 1rem;
  font-size: 1rem;
}
button {
  /* Add font stack */
  padding: 0.25rem 1rem;
  margin-block: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}
pre,
code {
  font-size: 1rem;
  padding-block: 1rem;
}
ul {
  margin-block: 1rem;
}
li {
  list-style-position: inside;
  padding-block: 0.5rem;
}
#file_list {
  cursor: pointer;
}
#file_list span:hover,
#file_list li.active {
}
